@charset "utf-8";

 <link rel="shortcut icon" type="image/png" href="https://csanborn901.github.io/BU-LMS-2023/favicon.png">

[role=main]{background-color: #848482 !important; padding: 0 !important;}
.widget--html_standard {padding: 0 !important;} 
.header {background-color: #848482 !important;}
.dashboard-header__name {color: #ffffff !important;}
.dashboard-header__arrow {color: #ffffff !important;}
.home__content {padding: 0 !important;background-color: #848482 !important;} 
body::-webkit-scrollbar {display: none !important;}
body { -ms-overflow-style: none !important; scrollbar-width: none !important;}    
html, body {max-width: 100%; overflow-x: hidden;}
.company__school-name {color: #ffffff !important; font-size: 1rem; margin: 0px !important;}
#bu-html-import {overflow:hidden; width=100%; background-color: #848482; height: 940px;}
#bu-homepage-iframe{}
.footer {height:20px !important;overflow:hidden !important;}
.footer:hover {height:auto !important;}
.widget {background-color: #848482;}
#section05 { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg05.jpg) center center / cover no-repeat;}

@media only screen and (max-width: 830px) {.header__inner {display: flex; align-items: center; align-content: center;justify-content:space-around; padding-right: 5px;}.nav--top {order:3; margin:0px !important;}#bu-html-import{height:700px !important;}{#BU-bg-logo {margin-top:25% !important;}}

/*
@media only screen and (max-width: 390px) {.company__school-name{display: none !important;}#bu-html-import{height:1000px !important;}}

@media only screen and (max-width: 576px) {.header__inner {display: flex; align-items: center; align-content: center;justify-content:space-around; padding-right: 5px;}.nav--top {order:3; margin:0px !important;}#bu-html-import{height:500px !important;}}

@media only screen and (max-width: 830px) {.company__school-name{display: none !important;}#bu-html-import{height:500px !important;}}
*/
